<div class="row">
  <div class="col xs 12">
    <form
      style="margin-left: 1.75rem"
      (ngSubmit)="addIngredient(f)"
      #f="ngForm"
    >
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            required
            ngModel
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            required
            min="1"
            ngModel
            class="form-control"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid"
            *ngIf="!editMode"
          >
            Add
          </button>
          <button
            class="btn btn-success"
            type="button"
            (click)="onUpdate(f)"
            [disabled]="!f.valid"
            *ngIf="editMode"
          >
            Update
          </button>
          <button class="btn btn-primary" type="button" (click)="onClear()">
            Clear
          </button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
